/* Header styles */
h1 {
    font-size: 2rem;
    color: #2C3E50;  /* Example color */
}

h2 {
    font-size: 1.5rem;
    color: #2C3E50;
}

p {
    font-size: 1.2rem;
    color: #34495E;
}

/* Styling for Streamlit tabs */
.stTabs [data-baseweb="tab-list"] button [data-testid="stMarkdownContainer"] p {
    font-size: 1.2rem;
    font-weight: normal;
    color: #2C3E50;  /* Darker color for better contrast */
}

/* Styling for active tab */
.stTabs [data-baseweb="tab-list"] button[aria-selected="true"] {
    border-bottom: 4px solid #E74C3C;  /* Thicker red underline for the active tab */
}

/* Centering Streamlit Altair charts */
.stAltairChart {
    display: flex;
    justify-content: center;
    margin: 20px auto;  /* Adding margin to give some space */
}

/* Increase font size for dataframes and tables */
.css-1ex1afd.e1fqkh3o2, .stDataFrame {
    font-size: 1.5rem !important;
    text-align: center !important;
}
/* Add padding to the table for better spacing */
.stDataFrame td, .stDataFrame th {
    padding: 20px !important;  /* Add padding to table cells */
}

/* General styling for chart labels */
.stAltairChart text {
    font-size: 1.2rem;
    fill: #34495E;  /* Example color for labels */
}
